
.field {
	border: 1px solid black;
	width: 640px;
	height: 640px;	
	margin: 80px auto;
	display: flex;
	flex-wrap: wrap;
}
.cell {
	border: 1px solid black;
	width: 78px;
	height: 78px;
	display: inline-block;	
}
.black-cell {
	background-color: black;
}
.active {
	background-image: url("../img/horse.png");
	background-color: transparent;
	background-size: cover
}

.horse { background-color: #cdcdcd; }



